@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model ModelExpression;

<select asp-for="@Model.Name"  asp-items="@ViewBag.Categories" class="form-control" class="form-select">
    <option>Please select</option>
</select>

