/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

@import "./global.variables.module.scss";
@import url(https://fonts.googleapis.com/css?family=Raleway);
// @import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0);


//all page font
* {
  font-family: "Raleway";
  box-sizing: border-box;
}

html,body {
  background-color: $primaryColor-light;
  margin: 0;
  height: 100%;
}

