@{
    ViewData["Title"] = "Home Page";
}

<div class="row mt-5">
    @await Component.InvokeAsync("ProductCardItem")
    @await Component.InvokeAsync("ProductCardItem")
    @await Component.InvokeAsync("ProductCardItem")
    @await Component.InvokeAsync("ProductCardItem")

</div>
